body {
    background: #8c1b1b;
    background: linear-gradient(90deg, rgba(140, 27, 27, 1) 0%, rgba(191, 33, 33, 1) 100%);
}

.card {
    background-image: url('/assets/img/images.jpg');
}

img {
    margin-top: 20rem;
}